@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url(./assets/css/root.css);
*{
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}
.font_Manrope{
  font-family: "Manrope", sans-serif;
}
.HeroBG{
  background-image: url(./assets/images/webp/HeroBG.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navigationDiv{
  background: var(--white-transp);
  border-bottom: 1px solid var(--white-border);
  height: 100px;
  padding-top: 26px;
  padding-bottom: 26px;
  backdrop-filter: blur(20px);

}
.Logo{
  width: 47px;
  height: 47px;
}

/*==================== footer ============ */
.footer_bg{
  background: linear-gradient(180deg, #000000 12.27%, rgba(0, 0, 0, 0.205103) 82.49%, rgba(0, 0, 0, 0) 100%);
}






/*========================= max-widths========================= */
.max_width_626{
  max-width: 626px;
}
/*=============== gap ================== */
.gap_12{
  gap: 12px;
}



/*=================== margin padding ================== */
.margin_top_20{
  margin-top: 20px;
}