@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url(./assets/css/root.css);

* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}

.next_section {
  position: absolute;
  padding: 10px 4px;
  border-radius: 4px;
  z-index: 1 !important;
  border-bottom: 1px solid #FFFFFF17;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.04) 3.33%, rgba(255, 255, 255, 0) 69.17%);
  bottom: 12%;
  right: 2%;
}

.font_Manrope {
  font-family: "Manrope", sans-serif;
}

.HeroBG {
  background-image: url(./assets/images/webp/HeroBG.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navigationDiv {
  background: var(--white-transp);
  border-bottom: 1px solid var(--white-border);
  height: 100px;
  padding-top: 26px;
  padding-bottom: 26px;
  backdrop-filter: blur(10px);
}

.Logo {
  width: 47px;
  height: 47px;
}

.navbarlinks {
  transition: all 300ms linear;
}

.navbarlinks:hover {
  color: #fff !important;
  stroke-width: 2px solid white;
}

.sclair_btn {
  max-width: 157px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid var(--yellow);
  transition: all 400ms ease-in-out;
}

.sclair_btn:hover {
  background: var(--light-white);
  color: var(--black);
  box-shadow: 0px 0px 10px 2px var(--light-white);
}

.BottomBgImg {
  background-image: url(./assets/images/webp/bgBottomImg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Aboutdino {
  bottom: 0;
  right: 18%;
}

.AboutCardbg {
  background-image: url(./assets/images/webp/Aboutcardbg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 818px;
  background-color: #FFFFFF05;
  border: 1px solid #FFFFFF33;
  border-radius: 20px;
}

.AboutCard {
  padding: 30px;
  background: #FFFFFF05;
}

.about_coinbox {
  width: 53px;
  height: 53px;
  background: #313131;
  border-radius: 5px;
}

.buy_btn {
  max-width: 254px;
  height: 48px;
  border-radius: 10px;
  background: #FFF624;
  border: 0;
  transition: all 400ms ease-in-out;
  margin-top: 32px;
}

.buy_btn:hover {
  background: var(--light-white);
  box-shadow: 0px 0px 10px 2px var(--light-white);
}

.common_btn {
  padding: 12px 24px;
  background: var(--yellow);
  border-radius: 10px;
  height: 48px;
  border: 1px solid transparent;
  transition: all 400ms ease-in-out;
}

.common_btn:hover {
  background: var(--light-white);
  box-shadow: 0px 0px 10px 2px var(--light-white);
}

.ContractBG {
  background-image: url("./assets/images/webp/ContractBG.webp"), linear-gradient(#141403, #141403);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.CopyDiv {
  background: #FFFFFF14;
  max-width: 587px;
}

.CopyInput {
  padding: 12px;
  background: #FFFFFF14;
  border-style: solid;
  border-top-left-radius: 8px;
  outline: none;
  height: 48px;
  border-bottom-left-radius: 8px;
  border-color: #FFFFFF3D;
  border-right: 1px;
}

.btn_transform {
  margin-left: -9px;
}

.TokenBG {
  background-image: url("./assets/images/webp/TokenomicsBG.webp"), linear-gradient(180deg, #000000 14.61%, rgba(0, 0, 0, 0.205103) 82.49%, rgba(0, 0, 0, 0) 100%);
  background-color: var(--black);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sclairDiv {
  background: #FFFFFF0A;
  border: 1px solid #FFF6243D;
  border-radius: 6px;
}

.TokenImg {
  max-width: 491px;
}

.TokenFox {
  max-width: 68px;
}

.Tokenbaby {
  max-width: 80px;
}

.token_Card {
  padding: 16px;
  background: #FFFFFF0F;
  border: 1px solid;
  border-radius: 16px;
}

.token_Card::after {
  z-index: -1;
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 1px;
  background: linear-gradient(96.24deg, rgba(241, 241, 241, 0.24) -31.57%, rgba(241, 241, 241, 0) 125.48%);
  -webkit-mask:
    linear-gradient(#FFFFFF0F 0 0) content-box,
    linear-gradient(#FFFFFF0F 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.babydiv {
  width: 122px !important;
  min-height: 122px;
  background: #191919;
  border-radius: 100px;
}

.Tokenplus {
  max-width: 32px;
  height: 32px;
}

.Glyph {
  max-width: 245px;
}

.AuditBG {
  background: #141403;
}

.Glyph_paddings {
  padding-top: 50px;
  padding-bottom: 50px;
}

.yellow_line {
  background: #FFF624;
  height: 1px;
  opacity: 30%;
}

.YellowSliderBox {
  padding: 30px 15px;
  max-width: 465px;
  background: #FFFFFF14;
  position: relative;
  z-index: 1;
  border-radius: 16px;
  border: 1px solid #FFF62466;
}

.SocailsDino {
  right: 6%;
  top: 18%;
}

.slider_box {
  padding: 23px 36px;
  max-width: 267px;
  border-radius: 7px;
  margin-right: 16px;
}

.slick-tract {
  display: flex !important;
  overflow: hidden !important;
}

.footerBG {
  background-image: url(./assets/images/webp/FooterBG.png), linear-gradient(180deg, #000000 12.27%, rgba(0, 0, 0, 0.205103) 82.49%, rgba(0, 0, 0, 0) 100%);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.roadmapBG {
  background-image: url(./assets/images//webp/Roadmapbg.webp);
  background-size: cover;
  background-position: center;
}

.Phase_card {
  min-height: 328px;
  height: fit-content;
  background: #FFFFFF14;
  position: relative;
  z-index: 2;
  border-radius: 16px;
  padding: 24px;
}

.Phase_card::after {
  z-index: -1;
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 1px;
  background: linear-gradient(153.46deg, rgba(255, 246, 36, 0.4) -9.68%, rgba(255, 246, 36, 0) 119.9%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.list_style {
  list-style-type: disc !important;
}

.Phase1botmimg {
  bottom: -17%;
  left: 50%;
  transform: translateX(-50%);
}

.Phase2botmimg {
  bottom: -11%;
  left: 50%;
  transform: translateX(-50%);
}

.Phase3botmimg {
  bottom: -21%;
  left: 50%;
  transform: translateX(-50%);
}

.socialcard {
  padding: 40px 16px;
  background: #FFFFFF0A;
  max-width: 840px;
  position: relative;
  border-radius: 16px;
  z-index: 2;
}

.socialcard::after {
  z-index: -1;
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 1px;
  background: linear-gradient(153.46deg, rgba(255, 246, 36, 0.4) -9.68%, rgba(255, 246, 36, 0) 119.9%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.SocialLink {
  border-radius: 100px;
  height: 38px;
  width: 38px;
  padding: 8px 6px;
  border: 0.66px solid #F1F1F129;
  background: #191919;
  transition: all 400ms linear;
}

.SocialLink:hover {
  border: 0.66px solid var(--yellow);
}

.timing_box {
  width: 50px;
  height: 40px;
  border-radius: 4px;
  background-color: #FFF62433;
}

.line-yellow {
  top: -16px;
  left: 26%;
}

.line-white {
  top: -16px;
  right: 5%;
}

.Ellipse1L {
  bottom: -14%;
}

.Ellipse1R {
  right: 0;
  top: -8%;
}

.Ellipse2L {
  bottom: -19%;
}

.Ellipse2R {
  right: 0;
  bottom: -17%;
}

.Ellipse3R {
  right: 0;
  bottom: -17%;
  z-index: 1;
}

.Ellipse3L {
  top: 4%;
}

.Ellipse4R {
  right: 0;
  bottom: -20%;
}

.Ellipse5R {
  right: 0;
  top: -50%;
}

.Ellipse4L {
  top: -40%;
}

.Qmark1 {
  top: 40%;
  left: 3.5%;
}

.Qmark2 {
  right: 1%;
  top: 25%;
}

.FooterLink::after {
  content: '';
  position: absolute;
  height: 1px;
  background: var(--light-white);
  width: 0;
  left: 0;
  transition: all 300ms linear;
  bottom: -3px;
}

.FooterLink:hover {
  color: var(--gray2);
}

.FooterLink:hover::after {
  width: 100%;
}

.LangDropdown {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LangDropdown:hover {
  background: transparent;

}

.dropdown-toggle {
  padding: 0 !important;
}

.dropdown-toggle::after {
  width: 10px;
  height: 5px;
  margin-left: 18px;
}

.btn.show {
  background: transparent;
}

.dropdown-toggle::after {
  background-image: url("./assets/images/svg/dropdown.svg") !important;
  border: none !important;
  width: 18px;
  height: 18px;
  margin-left: 12px !important;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -50% !important;
  margin-top: var(--bs-dropdown-spacer);
}

.dropdown-menu {
  --bs-dropdown-min-width: 6rem !important;
  --bs-btn-active-shadow: none !important;
}

.section_margin {
  margin-top: -1px !important;
}

.cursor_pointer {
  cursor: pointer;
}

/*==================== footer ============ */
.footer_bg {
  background: linear-gradient(180deg, #000000 12.27%, rgba(0, 0, 0, 0.205103) 82.49%, rgba(0, 0, 0, 0) 100%);
}

.footer_line {
  height: 1px;
  opacity: 20%;
  background: #FFF624;
}

/*================ accordion======================== */
.accordionbg {
  background: #FFF62414;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
}

.accordion-item {
  border: 1px solid #FFFFFF3D;
  background-color: #FFFFFF14;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion-item {
  background-color: #FFFFFF14 !important;
  border: 1px solid #FFFFFF3D !important;
  border-radius: 8px !important;
}

.accordion-button {
  background-color: transparent !important;
}

.accordion-button {
  padding: 12px 24px 12px 12px !important;
}

.accordion-body {
  padding: 0px 0px 12px 12px !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("./assets/images/webp/topicon.webp") !important;
}

.accordion-button::after {
  background-image: url("./assets/images/webp/topicon.webp") !important;
}

/*========================= max-widths========================= */
.max_width_626 {
  max-width: 626px;
}

.max_width_654 {
  max-width: 654px;
}

.max_width_404 {
  max-width: 404px;
}

.max_width_510 {
  max-width: 510px;
}

.max_width_702 {
  max-width: 702px;
}

.max_width_776 {
  max-width: 776px;
}

.max_width_758 {
  max-width: 758px;
}

.max_width_810 {
  max-width: 810px;
}

.max_width_475 {
  max-width: 475px;
}

.max_width_254 {
  max-width: 254px;
}

.max_width_800 {
  max-width: 800px;
}

.max_width_180 {
  max-width: 180px;
}

/*=============== gap ================== */
.gap_12 {
  gap: 12px;
}

.gap_10 {
  gap: 10px;
}

.gap_14 {
  gap: 14px;
}

.gap_20 {
  gap: 20px;
}

.gap_32 {
  gap: 12px;
}

.nav_gap {
  gap: 32px;
}

/*=================== margin padding ================== */
.mx_28 {
  margin-left: 28px;
  margin-right: 28px;
}

.margin_top_20 {
  margin-top: 20px;
}

.margin_top_32 {
  margin-top: 16px;
}

.margin_top_12 {
  margin-top: 12px;
}

.margin_top_40 {
  margin-top: 40px;
}

.margin_bottom_26 {
  margin-bottom: 26px;
}

.contract_paddings {
  padding-top: 52px;
  padding-bottom: 52px;
}

.aboutpadding_top {
  padding-top: 50px;
}

.token_padding_top {
  padding-top: 40px;
}

.margin_top_60 {
  margin-top: 60px;
}

.Glyph_padding_bottom {
  padding-bottom: 47px;
}

.accord_padding_top {
  padding-top: 47px;
}

.accord_padding_bottom {
  padding-bottom: 47px;
}

.padding_top_100 {
  padding-top: 50px;
}

.aboutpadding_bottom {
  padding-bottom: 62px;
}

.token_padding_bottom {
  padding-bottom: 46px;
}

.socail_paddings {
  padding-top: 52px;
  padding-bottom: 34px;
}

.footer_padding_top {
  padding-top: 50px;
}

.pr_24 {
  padding-right: 24px;
}

.pt_6 {
  padding-top: 6px;
}

.pb_12 {
  padding-bottom: 12px;
}

@media (min-width:575.9px) {
  .Glyph_paddings {
    padding-top: 77px;
    padding-bottom: 84px;
  }

  .margin_top_32 {
    margin-top: 32px;
  }

  .gap_32 {
    gap: 22px;
  }

  .AboutCard {
    padding: 40px;
  }

  .w_sm_80 {
    width: 80px;
  }

  .line-yellow {
    top: -12px;
    left: 130px;
  }

  .line-white {
    top: -12px;
    right: 12px;
  }
}

@media (min-width:767.9px) {
  .Glyph_padding_bottom {
    padding-bottom: 77px;
  }

  .slider_box {
    margin-right: 32px;
  }

  .YellowSliderBox {
    padding: 40px 15px;
  }

  .gap_32 {
    gap: 25px;
  }

  .Phase_card {
    max-width: 300px;
  }

  .contract_paddings {
    padding-top: 86px;
    padding-bottom: 85px;
  }

  .token_padding_top {
    padding-top: 74px;
  }

  .aboutpadding_top {
    padding-top: 80px;
  }

  .accord_padding_top {
    padding-top: 97px;
  }

  .accord_padding_bottom {
    padding-bottom: 97px;
  }

  .socail_paddings {
    padding-top: 124px;
  }

  .footer_padding_top {
    padding-top: 120px;
  }

  .token_Card {
    padding: 32px 75px;
  }

  .token_padding_bottom {
    padding-bottom: 96px;
  }
}

@media (min-width:991.9px) {
  .Aboutdino {
    top: 52%;
    right: 18%;
  }

  .mr_28 {
    margin-right: 28px;
  }

  .gap_32 {
    gap: 32px;
  }

  .Roadmaptradeimg {
    margin-top: -20%;
    max-width: 1440px;
    padding-bottom: 20px;
  }

  .phase1padding_top {
    padding-top: 184px;
  }

  .phase2padding_top {
    padding-top: 78px;
  }

  .padding_top_100 {
    padding-top: 100px;
  }

  .token_padding_top {
    padding-top: 124px;
  }

  .aboutpadding_top {
    padding-top: 100px;
  }

  .accord_padding_top {
    padding-top: 97px;
  }

  .accord_padding_bottom {
    padding-bottom: 97px;
  }

  .socail_paddings {
    padding-top: 124px;
    padding-bottom: 34px;
  }

  .footer_padding_top {
    padding-top: 120px;
  }

  .token_Card {
    padding: 32px 75px;
  }
}

@media (max-width:991.9px) {
  .mobile_view {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column;
    top: 0;
    transition: all 700ms linear;
    background: var(--black);
    min-height: 100vh;
    position: fixed;
    z-index: 100 !important;
    width: 100%;
  }

  .overflow_hidden {
    overflow: hidden;
  }

  .bar {
    width: 26px;
    height: 3px;
    z-index: 100 !important;
    background: var(--yellow);
    transition: all 400ms linear;
  }

  .cross .bar:nth-child(1) {
    transform: translateY(8px);
    rotate: 45deg;
  }

  .cross .bar:nth-child(2) {
    transform: translateX(-100%);
    display: none;
  }

  .cross .bar:nth-child(3) {
    transform: translateY(-8px);
    rotate: -48deg;
  }

  .navShow {
    right: 0;
  }

  .navhide {
    right: -100%;
  }

}

@media (min-width:1199.9px) {
  .min_h_820 {
    min-height: 820px !important;
  }
}

@media (min-width:1535.9px) {
  .Roadmaptradeimg {
    margin-top: -16%;
    max-width: 1440px;
  }
}

@media (min-width:1440px) and (max-width:1920px) {
  .max_width_1140 {
    max-width: 1140px !important;
  }
}

@media (min-width:1919.9px) {
  .Roadmaptradeimg {
    margin-top: -11%;
    max-width: 1440px;
  }

  .next_section {
    right: 25%;
  }

  .Aboutdino {
    top: 52%;
    right: 27%;
  }

  .Qmark2 {
    right: 22%;
    top: 25%;
  }

  .Qmark1 {
    top: 40%;
    left: 23.5%;
  }

  .SocailsDino {
    right: 26%;
    top: 18%;
  }
}